<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <p><a class="btn btn-lg btn-success" ng-click="main.shuffle()">Shuffle <span class="glyphicon glyphicon-refresh"></span></a></p>
    </div>
    <div class="col-md-6">
      <p><a class="btn btn-lg btn-success" ng-click="main.reset()">Reset <span class="glyphicon glyphicon-sort-by-attributes"></span></a></p>
    </div>
  </div>
</div>

<div class="row marketing">
  <div class="row">
    <div class="col-md-4" ng-repeat="pair in main.pairings">
      <playing-card rank="{{pair.card}}" suit="{{pair.suit}}"></playing-card>
    </div>
  </div>
</div>
